.stage {
  @include section();

  background-color: $primaryColor;

  &__wrapper {
    display: flex;
    flex-direction: column-reverse;

    @media ($tablet) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__title {
    @include h1();
  }

  &__list {
    @include lead();

    &-item {
      padding-left: 0.5rem;
      list-style: url('../images/check_icon.png');
    }
  }

  &__image {
    @include img($white);

    height: 21.4rem;
    width: 100%;
    margin-bottom: 2rem;

    @media ($tablet) {
      width: 300px;
      flex-shrink: 0;
      margin-bottom: 0;
      margin-left: 4rem;
    }

    @media ($desktop) {
      width: 460px;
      margin-bottom: 0;
      margin-left: 8rem;
    }
  }
}